<h1><%= @movie.title %></h1>
<hr>
<p><%= @movie.description %></p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
<br>
<% if @user_likes_movie.nil? %>
    <button class="btn btn-info like">좋아요</button>
<% else %>
    <button class="btn btn-warning like">좋아요 취소</button>
<% end %>


<script>
    $(document).on('ready', function(){
        $('.like').on('click', function() {
            console.log('like!!!!')
            $.ajax({
               url: '/likes/<%= @movie.id %>'
            });
        });
    });
</script>